
h1, h3{
    font-family: 'Courier New', Courier, monospace;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

p{
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
    display: inline;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;

}


button{
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid ;
    background-color: purple;
    padding: 5px 5px 5px 5px;
    width: 100px;
    border-radius: 8px;
    color: white;
    font-size: medium;
    
}
button:hover{
    background-color: plum;
    cursor: pointer;

}
.container{
    text-align: center;
    display: inline-block;
    margin-right: auto;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    align-items:center;
    flex-wrap: wrap;
}
footer{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items:center;
}
